@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-red-200
}
.page{
  @apply flex flex-col items-center justify-start min-h-screen w-screen overflow-x-hidden
}

:root{
  --primary-background: rgb(39, 34, 33);
  --primary-text: rgb(255, 199, 159);
  --secondary-text: rgb(255, 255, 255);
  --rules-frame:rgb(192,155,75);
}